sys_params {
    server_address: "http://127.0.0.1"
    server_port: 8288
    default_report_countdown_time: 1
}

key_info {
    key_index: "1234-5678-abcd"
    sdk_name: "机器修图RAW转档"
    vendor_name: "妙修"
    key: "-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDT3YXzRLSdzbNpNS8QfujfY33M\npONEPVMYsDzDIhSVuWvYYy6cnmzSZrWsWLa6vrdZur0Gsf4tKJsZwVeWgXIiD0fu\nD+s2jxgR731jbsYoeAZuNqoV40YAvsHDPb/fDHlB8MzbxkRVJwLQo1DGrbF6b1J+\nRv9wCDn47zBJYvrheQIDAQAB\n-----END PUBLIC KEY-----"
}

